html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

/* MAIN CODEPEN */
.codepen {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  height: 100vh;;
}

.codepen >* {
  border: 1px solid black;
}

/* CODE EDITORS */
.code {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.editor {
  display: grid;
}

/* HEADER */
.pen {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  background: black;
  border-bottom: 5px solid #343436;
  color: white;
  gap: 10px;
}

.pen .button {
  padding: 10px;
  color: white;
  background: #343436;
  border: none;
}

.pen .button--dirty {
  border-top: 2px solid orange;
}

/* .pen__details {
  display: grid;
} */

/* PREVIEW */
.preview {
  display: grid;
}

/* FOOTER */



